body {
  background-color: #2c2f33;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
  text-align: center;
}

#form {
  position: relative;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 80%;
}

#search,
#search-category {
  background-color: #36393f;
  border: 1px solid #ccc;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  flex-grow: 1;
}

#search {
  margin-right: 10px;
}

#search-category {
  width: 150px;
}

button {
  background-color: #7289da;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #677bc4;
}

#data-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.coin {
  background-color: #7289da;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
}

.coin:hover {
  border: 1px solid white;
  cursor: pointer;
}

.coin img {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.coin p {
  margin: 10px 0;
}

.coin-info {
  font-size: 0.9em;
}

.hour-volume {
  font-size: 0.9em;
}

#dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #36393f; /* Match dropdown background with overall styling */
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #f1f1f1;
}
